.logo__modaliz{
  font-size: 3.2rem;
  font-weight: 600;
  font-style:oblique;
  
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  background-image: var(--gradiente);
}

.header__list {
  display: flex;
}

.list__link{
  display: flex;
  padding: 2rem;
  color: rgb(7, 6, 6);
  text-decoration: none;
  font-family: var(--fonte-principal);
  font-size: bold;
}


.list__link:hover, .active{
  background-color: rgb(160, 159, 159);
  transition: 0.3s;
  color: white;
  border-radius: 10px;
}


