.logo__modaliz{
  font-size: 3.2rem;
  font-weight: 600;
  font-style:oblique;
  
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  background-image: var(--gradiente);
}

.cabecalho__lista {
  display: flex;
}

.lista__link{
  display: flex;
  padding: 2rem;
  color: rgb(7, 6, 6);
  text-decoration: none;
  font-family: var(--fonte-principal);
  font-size: bold;
}


.lista__link:hover, .ativo{
  background-color: rgb(160, 159, 159);
  transition: 0.3s;
  color: white;
  border-radius: 10px;
}


