.main {
  display: flex;
  justify-content: center;
  height: 25vw;
  display: flex;
  background-attachment: fixed;
}


.main__list {
  margin-top: 5%;
  height: 18rem;
  background-image: var(--gradiente);
  background-repeat: no-repeat;
  color: #373737;
  background-size: 100%;
  font-family: var(--fonte-principal);
  border-radius: 1.5rem;
  text-align: center;
}

.main__item-titulo {
  margin-top: 1.5rem;
  font-size: 4rem ;
  display: flex;
  justify-content: center;
}

.main__item-list{
    font-size: 2rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-pesquisa{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.icone__lupa{
margin:0 0.5rem 0 0
}

.botao__quartos{
    font-size: 2rem;
    font-weight: 600;
    width: 40%;
    height: 4rem;
    background-color: rgb(56, 55, 55);
    color: #ffffff;
    border: transparent;
    border-radius: 10px;
    text-align: center;
}

.botao__quartos:hover{
  font-size: 2rem;
  width: 50%;
  height: 5rem;
  background-color: white;
  border: #373737 solid;
  color: #373737;
  transition: 0.3s;
  border-radius: 10px;
  text-align: center;
}


